#
.idea
node_modules

test-specimens

.env

# This file will be continuously regenerate by server.listen() every time you start the server.
public/client/script.js

# Client info output file
public/file-store/client-info*
