<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Banners test</title>
	<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="app" class="app">
        <div class="page">
			<div class='header'>
				<div class='header__logo'>
					Some Header Text
				</div>
				<div class='header__center'>
					Center Text
				</div>
				<div class='header__signInOut'>
					<button class='header__signOutButton'>SignOut</button>
					<div class='header__signInOutStatus'>
						Welcome <span class='header__signInOutStatusName'>Leonardo D.</span>
					</div>
				</div>
			</div>
			
			<div class='content'>
				<h1 class='content__title'>Title</h1>

				<!--This pseudo-tag later will be replaced by node server in the runtime-->
				<someBannerScript />

				<script type="text/javascript" class="some-optional-script" src="script-view-optional.js"></script>

				<button
					onclick="window.location.href=window.location.href"
					title="Refresh window"
				>
					Refresh window
				</button>

                <div class='content__text'>
					But he stole up to us again, and suddenly clapping his hand on my shoulder, said&mdash;"Did ye see anything looking like men going towards that ship a while ago?"
					But he stole up to us again, and suddenly clapping his hand on my shoulder, said&mdash;"Did ye see anything looking like men going towards that ship a while ago?"
					But he stole up to us again, and suddenly clapping his hand on my shoulder, said&mdash;"Did ye see anything looking like men going towards that ship a while ago?"					
				</div>

				<div class="content__clientInfo_target">

				</div>

			</div>
			
			<div class='footer'>
				<div class='footer__text'>
					Some Footer Text
				</div>
				<div class='footer__button'>
					<button class='footer__AddPostButton'>Add post</button>
				</div>
			</div>

		</div>
    </div>
</body>
</html>
